* {
    font-family: 'Sarabun', sans-serif;
}
.ui {
    position: fixed;
    top: 50%;
    left: 0.2%;

    transform: translate(0%, -50%);
}

.list {
    width: 100%;
    min-width: 140px; 
    min-height: 20px;

    background-image: linear-gradient(to right, #0000007f, #0000006f, #0000005f, #0000004f, #0000003f);

    margin-bottom: 2%;
   
    text-align: left;
   
    border-radius: 3px;
    border-left: 4px solid hsl(358, 100%, 68%);

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    display: none;
}

.jobname {
    font-size: 1.1em;
    height: 25px;
    line-height: 25px;

    /* margin-left: 4%; */
    margin-bottom: 4%;

    color: rgb(255, 255, 255);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.timeout {
    font-size: 1.0em;
    height: 25px;
    line-height: 25px;

    /* margin-left: 4%; */
    margin-bottom: 4%;

    color: rgb(255, 255, 255);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.status {
    font-size: 0.9em;
    height: 25px;
    line-height: 25px;

    /* margin-left: 4%; */
    color: rgb(255, 255, 255);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.wrap {
    width: 100%;
    margin-left: 2%;
    padding: 5px;
}
.feather-icon {
    font-size: 12px;
    color:  hsl(0, 0%, 100%);
    height: 20px;
    width: 20px;
    margin-bottom: -2%;
    margin-right: 3px;
    transition: color .05s ease-out;
}